.-User-List {
    width: auto;
    height: 1024px;
    background-color: #f5f5f5;
    padding-left: 135px;
    padding-right: 135px;
    padding-top: 30px;
    padding-bottom: 172px;
    margin-left: 27px;
  }
  .RectangleBefore {
    height: 650px;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
  }
  .Rectangle-Copy-4 {
    width: 262px;
    height: 567px;
    border-radius: 10px;
    box-shadow: -2px 0 4px 0 rgba(0, 0, 0, 0.2);
    background-color: #f5f5f5;
    float: right;
    margin-right: -265px;
    margin-top: -260px;
  }
  .Oval {
    width: 125px;
    height: 125px;
  }
  .Ovalimagelist {
    width: 55px;
    height: 55px;
    border-radius: 50%;
  }
  .Elwin-Sharvill {
    width: 200px;
    height: 37px;
    font-family: Heebo;
    font-size: 25px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #34495e;
    margin-left: 56px;
    margin-right: 56px;
    margin-top: 5px;
  }
  .RectangleEdit {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    background-color: #ffffff;
  }
  .RectangleDelete {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    background-color: #ffffff;
  }
  .icons8-edit {
    width: 15px;
    height: 15px;
    object-fit: contain;
  }
  .Edit {
    width: 26px;
    height: 22px;
    font-family: Heebo;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }
  .icons8-delete {
    width: 12px;
    height: 15px;
    object-fit: contain;
  }
  .Delete {
    width: 44px;
    height: 22px;
    font-family: Heebo;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #8e44ad;
  }
  .Path {
    width: 14.5px;
    height: 14.5px;
    background-color: #8e44ad;
  }
  .User {
    width: 25px;
    height: 18px;
    font-family: Heebo;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #7f8c8d;
    margin-left: 5px;
  }
  .Actions {
    width: 42px;
    height: 18px;
    font-family: Heebo;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #7f8c8d;
    float: right;
    margin-right: 55px;
  }
  .Rectangle-Copy-2 {
    height: 85px;
    border-radius: 10px;
    background-color: #ffffff;
  }
  .Vladimir-Usov {
    width: 94px;
    height: 22px;
    font-family: Heebo;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #34495e;
  }
  .RectangleEditButton {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #8e44ad;
  }
  .RectangleDeleteButton-Copy-3 {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    background-color: #ffffff;
  }
  .icons8-edit {
    width: 15px;
    height: 15px;
    object-fit: contain;
  }
  .icons8-right_4 {
    width: 9px;
    height: 14px;
    object-fit: contain;
    margin-left: 35px;
  }
  .RectangleHover-Copy-2 {
    width: 1140px;
    height: 85px;
    border-radius: 10px;
    background-color: rgba(142, 68, 173, 0.05);
  }
  .Loading-more-users {
    height: 18px;
    font-family: Heebo;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #8e44ad;
  }
  .icons8-spinner_frame_1 {
    width: 30px;
    height: 30px;
    object-fit: contain;
  }
  .center{
    text-align: center;
    }
  .RectangleAfter {
    width: 880px;
    height: 567px;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
      }
      /* User Side */
  .RectangleSingleUserEdit {
    width: 110px;
    height: 40px;
    border-radius: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    background-color: #8e44ad;
    margin-left: 12px;
      }
  .RectangleSingleUserDelete {
    width: 110px;
    height: 40px;
    border-radius: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    background-color: #f5f5f5;
      }
  td:active{
    background-color: #8e44ad;
      }
  .ButtonTable{
    margin-right: 0px;
    float: right;
   }
  .imageSingle{
    margin-left: 83px;
    margin-right: -8px;
    margin-top: 55px;
    border-radius: 50%;
}
  .icons8-delete_sign {
    width: 15px;
    height: 15px;
    object-fit: contain;
    float: right;
    margin-left: 3px;
    margin-right: 9px;
    margin-top: 9px
}
  .icons8-edit-copy-3 {
    width: 15px;
    height: 15px;
    object-fit: contain;
}
  .icons8-delete-copy-3 {
    width: 12px;
    height: 15px;
    object-fit: contain;
}
