<div class="-User-List">
  <div>
    <table class="RectangleBefore table">
      <thead>
        <tr>
          <th>
            <label class="User">User
            </label>
            <label class="Actions">Actions
            </label>
          </th>
        </tr>
      </thead>
      <tbody>
        <!-- <tr *ngFor="let item of Users.data" (click)="enableDisableRule()">
              <td [ngClass]="{'Rectangle-Copy-2' : toggle, 'RectangleHover-Copy-2': !toggle}">
                <img src='assets/img/UserProfile.png' class="Ovalimagelist">
                <label>
                    {{item.first_name}}{{item.last_name}}
                </label>
                <div class="row btn RectangleEditButton">
                  <a href="#">
                    <img src="assets/img/icons-8-edit.png" srcset="assets/img/icons-8-edit@2x.png 2x,img/icons-8-edit@3x.png 3x" class="icons8-edit">
                  </a>
                  <a href="#">
                    <img src="assets/img/icons-8-delete.png" srcset="assets/img/icons-8-delete@2x.png 2x,img/icons-8-delete@3x.png 3x" class="icons8-delete">
                  </a>
                  <a>
                    <img src="assets/img/icons-8-right-4.png" srcset="assets/img/icons-8-right-4@2x.png 2x,img/icons-8-right-4@3x.png 3x" class="icons8-right_4">
                  </a>
                </div>
              </td>
            </tr> -->

        <tr class="Rectangle-Copy-2">
          <td>
            <img src='assets/img/UserProfile.png' class="Ovalimagelist">
            <label>
              Vladimir Usov
            </label>
            <div class="row btn RectangleEditButton">
              <a href="#">
                <img src="assets/img/icons-8-edit.png" srcset="assets/img/icons-8-edit@2x.png 2x,img/icons-8-edit@3x.png 3x" class="icons8-edit">
              </a>
              <a href="#">
                <img src="assets/img/icons-8-delete.png" srcset="assets/img/icons-8-delete@2x.png 2x,img/icons-8-delete@3x.png 3x" class="icons8-delete">
              </a>
              <a>
                <img src="assets/img/icons-8-right-4.png" srcset="assets/img/icons-8-right-4@2x.png 2x,img/icons-8-right-4@3x.png 3x" class="icons8-right_4">
              </a>
            </div>
          </td>
        </tr>
        <tr class="Rectangle-Copy-2">
            <td>
            <img src='assets/img/UserProfile.png' class="Ovalimagelist">
            <label>
              Vladimir Usov
            </label>
            <div class="row btn RectangleEditButton">
              <a href="#">
                <img src="assets/img/icons-8-edit.png" srcset="assets/img/icons-8-edit@2x.png 2x,img/icons-8-edit@3x.png 3x" class="icons8-edit">
              </a>
              <a href="#">
                <img src="assets/img/icons-8-delete.png" srcset="assets/img/icons-8-delete@2x.png 2x,img/icons-8-delete@3x.png 3x" class="icons8-delete">
              </a>
              <a>
                <img src="assets/img/icons-8-right-4.png" srcset="assets/img/icons-8-right-4@2x.png 2x,img/icons-8-right-4@3x.png 3x" class="icons8-right_4">
              </a>
            </div>
          </td>
        </tr>
        <tr class="Rectangle-Copy-2">
            <td>
            <img src='assets/img/UserProfile.png' class="Ovalimagelist">
            <label>
              Vladimir Usov
            </label>
            <div class="row btn RectangleEditButton">
              <a href="#">
                <img src="assets/img/icons-8-edit.png" srcset="assets/img/icons-8-edit@2x.png 2x,img/icons-8-edit@3x.png 3x" class="icons8-edit">
              </a>
              <a href="#">
                <img src="assets/img/icons-8-delete.png" srcset="assets/img/icons-8-delete@2x.png 2x,img/icons-8-delete@3x.png 3x" class="icons8-delete">
              </a>
              <a>
                <img src="assets/img/icons-8-right-4.png" srcset="assets/img/icons-8-right-4@2x.png 2x,img/icons-8-right-4@3x.png 3x" class="icons8-right_4">
              </a>
            </div>
          </td>
        </tr>
        <tr class="Rectangle-Copy-2">
            <td>
            <img src='assets/img/UserProfile.png' class="Ovalimagelist">
            <label>
              Vladimir Usov
            </label>
            <div class="row btn RectangleEditButton">
              <a href="#">
                <img src="assets/img/icons-8-edit.png" srcset="assets/img/icons-8-edit@2x.png 2x,img/icons-8-edit@3x.png 3x" class="icons8-edit">
              </a>
              <a href="#">
                <img src="assets/img/icons-8-delete.png" srcset="assets/img/icons-8-delete@2x.png 2x,img/icons-8-delete@3x.png 3x" class="icons8-delete">
              </a>
              <a>
                <img src="assets/img/icons-8-right-4.png" srcset="assets/img/icons-8-right-4@2x.png 2x,img/icons-8-right-4@3x.png 3x" class="icons8-right_4">
              </a>
            </div>
          </td>
        </tr>
        <tr class="Rectangle-Copy-2">
            <td>
            <img src='assets/img/UserProfile.png' class="Ovalimagelist">
            <label>
              Vladimir Usov
            </label>
            <div class="row btn RectangleEditButton">
              <a href="#">
                <img src="assets/img/icons-8-edit.png" srcset="assets/img/icons-8-edit@2x.png 2x,img/icons-8-edit@3x.png 3x" class="icons8-edit">
              </a>
              <a href="#">
                <img src="assets/img/icons-8-delete.png" srcset="assets/img/icons-8-delete@2x.png 2x,img/icons-8-delete@3x.png 3x" class="icons8-delete">
              </a>
              <a>
                <img src="assets/img/icons-8-right-4.png" srcset="assets/img/icons-8-right-4@2x.png 2x,img/icons-8-right-4@3x.png 3x" class="icons8-right_4">
              </a>
            </div>
          </td>
        </tr>
        <tr class="Rectangle-Copy-2">
            <td>
            <img src='assets/img/UserProfile.png' class="Ovalimagelist">
            <label>
              Vladimir Usov
            </label>
            <div class="row btn RectangleEditButton">
              <a href="#">
                <img src="assets/img/icons-8-edit.png" srcset="assets/img/icons-8-edit@2x.png 2x,img/icons-8-edit@3x.png 3x" class="icons8-edit">
              </a>
              <a href="#">
                <img src="assets/img/icons-8-delete.png" srcset="assets/img/icons-8-delete@2x.png 2x,img/icons-8-delete@3x.png 3x" class="icons8-delete">
              </a>
              <a>
                <img src="assets/img/icons-8-right-4.png" srcset="assets/img/icons-8-right-4@2x.png 2x,img/icons-8-right-4@3x.png 3x" class="icons8-right_4">
              </a>
            </div>
          </td>
        </tr>
        <tr class="Rectangle-Copy-2">
            <td>
            <img src='assets/img/UserProfile.png' class="Ovalimagelist">
            <label>
              Vladimir Usov
            </label>
            <div class="row btn RectangleEditButton">
              <a href="#">
                <img src="assets/img/icons-8-edit.png" srcset="assets/img/icons-8-edit@2x.png 2x,img/icons-8-edit@3x.png 3x" class="icons8-edit">
              </a>
              <a href="#">
                <img src="assets/img/icons-8-delete.png" srcset="assets/img/icons-8-delete@2x.png 2x,img/icons-8-delete@3x.png 3x" class="icons8-delete">
              </a>
              <a>
                <img src="assets/img/icons-8-right-4.png" srcset="assets/img/icons-8-right-4@2x.png 2x,img/icons-8-right-4@3x.png 3x" class="icons8-right_4">
              </a>
            </div>
          </td>
        </tr>
        <tr class="Rectangle-Copy-2">
            <td>
            <img src='assets/img/UserProfile.png' class="Ovalimagelist">
            <label>
              Vladimir Usov
            </label>
            <div class="row btn RectangleEditButton">
              <a href="#">
                <img src="assets/img/icons-8-edit.png" srcset="assets/img/icons-8-edit@2x.png 2x,img/icons-8-edit@3x.png 3x" class="icons8-edit">
              </a>
              <a href="#">
                <img src="assets/img/icons-8-delete.png" srcset="assets/img/icons-8-delete@2x.png 2x,img/icons-8-delete@3x.png 3x" class="icons8-delete">
              </a>
              <a>
                <img src="assets/img/icons-8-right-4.png" srcset="assets/img/icons-8-right-4@2x.png 2x,img/icons-8-right-4@3x.png 3x" class="icons8-right_4">
              </a>
            </div>
          </td>
        </tr>
    <div class="center">
        <img src="assets/img/icons-8-spinner-frame-1.png" srcset="assets/img/icons-8-spinner-frame-1@2x.png 2x,img/icons-8-spinner-frame-1@3x.png 3x"
        class="icons8-spinner_frame_1">
      <div class="Loading-more-users center">Loading more users</div>
    </div>
      </tbody>
    </table>
  </div>
</div>