<div class="-User-List-Single-subnavbar Rectangle-Copy">
  <section>
    <div>
      <ol class="breadcrumbEdit Dashboard text-style-1">
        <li>
          <i class="fa fa-dashboard"></i>Home</li>
        <li>
          <i class="fa fa-dashboard"></i>Dashboard
        </li>
      </ol>
<!-- 
      <strong class="Users-List">
        User List
      </strong> -->
      <ul class="nav navbar-nav navbar-left">
          <strong class="Users-List">
              User List
            </strong>
        </ul>
      <ul class="nav navbar-nav navbar-right">
          <button class="btn RectangleButton"> 
              <i class="glyphicon glyphicon-plus">
             </i>&nbsp; Add User</button>
        </ul>
      <!-- <div>
          <div>
      <button class="btn RectangleButton"> 
         <i class="glyphicon glyphicon-plus">
        </i>&nbsp; Add User</button>

          </div>
      </div> -->
    </div>

  </section>
</div>